__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.ipynb_checkpoints

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.log

build/
dist/
*.egg-info/
.eggs/

htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

.env.local
